.dark-red {
  background-color: #370617;
}

.red {
  background-color: red;
}

.blueviolet {
  background-color: blueviolet;
}

.blue {
  background-color: blue;
}

.grey {
  background-color: grey;
}
