.dark-red {
  background-color: #370617;
}

.black {
  background-color: #000000;
}

.blueviolet {
  background-color: #8a2be2;
}

.blue {
  background-color: #0000ff;
}

.grey {
  background-color: #808080;
}
