.dark-red {
  background-color: #370617;
}

.black {
  background-color: black;
}

.blueviolet {
  background-color: blueviolet;
}

.blue {
  background-color: blue;
}

.grey {
  background-color: grey;
}
